@import "tailwindcss";

@font-face{
  font-family: 'Poppins';
  src: url("./assets/fonts/Poppins-Black.ttf") format('truetype');
  font-weight: 900;
  font-style: normal;
}
  @font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Thin.ttf') format('truetype');
    font-weight: 100; /* Thin */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 600; /* Medium */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
  }



@theme {
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --color-primary: #D1DC3E;
  --color-secondary: #12362A;
  --color-tertiary: #DAE4E3;

  --font-poppins: "Poppins", sans-serif;
  --font-size-psize : 1.6rem;
  --font-size-title: 1.8rem;
  --font-size-button: 1.5rem
}

@media (min-width: 768px){
  body{
    font-size: 62.5%
  }
}

section{
  padding: 5rem 6%;
}

/* body{
  background-color: #f9f9f9;
} */
/* 
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 */
